streamlit
pandas
numpy
scikit-learn
matplotlib
plotly
seaborn
wordcloud
joblib
spacy

# Téléchargement du modèle de langue français de spaCy (compatible avec spaCy v3.7)
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0.tar.gz
